<!-- <p *ngFor='let i of tab'>
  {{ i.client }}- {{ i.typePresta}}
</p> -->


<!-- itérer dans le tableau *ngFor -->
<table class="table" *ngIf="tab$ | async as tab; else loading">
  <thead>
    <tr>
      <th *ngFor='let header of headers' scope="col">{{header}}</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor='let obj of tab'>
      <td>Action</td>
      <td>{{obj.typePresta | uppercase }}</td>
      <td>{{obj.client | uppercase}}</td>
      <td>{{obj.nbJours}}</td>
      <td>{{obj.tjmHt}}</td>
      <td>{{ obj.tjmHt | total :obj.nbJours | currency}}</td>
      <td>{{ obj.tjmHt | total :obj.nbJours :obj.tva | currency}}</td>
      <td appState [stateObj]='obj.state'>{{obj.state}}</td>
    </tr>
  </tbody>
  <!-- faire passer le label + style + lien de redirection -->
  <app-btn
  label='Ajouter'
  styleBtn='btn btn-primary'
  route='/orders/add'
  >
  </app-btn>
</table>

<ng-template #loading>
  En chargement
</ng-template>


<!--
  "tab$ | async"

  .subscribe()


 -->

